<%= render 'form' %>

<!-- <form action="/restaurants" method='post'>
  <label for=""></label>
  <input type="text" name="name">
</form> -->

<!-- <input type="text" name="restaurant[name]" id="restaurant_name"> -->



<!-- Restaurant.create(name: params[:name], address: .....) -->
<!-- Restaurant.create(params[:restaurant])

params = {
  restaurant: {
    name: 'eheklaea',
    address: 'heakjea',
    rating: 'tjhalkjerta.'
  }
} -->
